RewriteEngine on

#Route liste des dishes
#pattern : index/recettes
#Target: /?dishes=index

RewriteRule ^index/recettes$ index.php/?dishes=index[L]

#Route liste des users
#pattern : index/chefs
#Target: /?users=index

RewriteRule ^index/chefs$ index.php/?users=index[L]

#route defaut
#Pattern: /
#Target : /

RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]